Перевод <code>{{translation.id}}</code> удален.<br />
Модератор: {{issuer.nickname}} (id{{issuer.id}})<br/>
{{#if reason}}
    Причина: {{reason}}<br />
{{/if}}
Изменено:<br/>
{{#each diff}}
    {{#eq @key 'url'}}
        <code>- url: </code><a href="{{../translation.url}}">{{../translation.urlDomain}}</a> <code>-&gt;</code>
        <a href="{{../diff.url}}">{{../diff.urlDomain}}</a><br/>
    {{/eq}}
    {{#neq @key 'url'}}
        <code>- {{@key}}: {{lookup ../translation @key}} -&gt; {{this}}</code><br/>
    {{/neq}}
{{/each}}

