Новый репорт!<br />
От: {{ issuer.nickname }} (id{{ issuer.id }})<br />
На перевод: <a href="https://plashiki.su/translations/{{ report.translation_id }}"{{ report.translation_id }}</a><br />
Тип: {{ report.type }}<br />
{{ report.comment }}
